# Unreal Engine asset types (optional: keep if you want *all* of these in LFS regardless of size)
# *.uasset filter=lfs diff=lfs merge=lfs -text
# *.umap   filter=lfs diff=lfs merge=lfs -text

# Explicit exclusions
Content/Blueprints/** -filter -diff -merge

# Raw Content
*.fbx filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.xcf filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text

# Explicit files added that are over the 50mb threshold
Content/Assets/Characters/Metahuman/MHC_Barbarian.uasset filter=lfs diff=lfs merge=lfs -text
Content/Assets/Characters/Metahuman/MHC_Egyptian.uasset filter=lfs diff=lfs merge=lfs -text
Content/Assets/Characters/Metahuman/MHC_Futureman.uasset filter=lfs diff=lfs merge=lfs -text
Content/Assets/Characters/Metahuman/MHC_Highlander.uasset filter=lfs diff=lfs merge=lfs -text
Content/Assets/Characters/Metahuman/MHC_Hippie.uasset filter=lfs diff=lfs merge=lfs -text
Content/Assets/Characters/Metahuman/MHC_Knight.uasset filter=lfs diff=lfs merge=lfs -text
Content/Assets/Characters/Metahuman/MHC_Native.uasset filter=lfs diff=lfs merge=lfs -text
Content/Assets/Characters/Metahuman/MHC_Roman.uasset filter=lfs diff=lfs merge=lfs -text
Content/FAB/MetaHuman/Hair_M_UpdoDutchBraid/Hair_M_UpdoDutchBraid.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Barbarian/Face/Baked/T_Head_LOD1_SRMF.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Barbarian/Face/Baked/T_Head_LOD3_SRMF.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Barbarian/Face/Baked/T_Head_LOD5to7_SRMF.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Barbarian/Face/Baked/T_Head_SRMF.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Egyptian/Face/Baked/T_Head_LOD1_SRMF.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Egyptian/Face/Baked/T_Head_LOD3_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Egyptian/Face/Baked/T_Head_LOD3_SRMF.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Egyptian/Face/Baked/T_Head_LOD5to7_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Egyptian/Face/Baked/T_Head_LOD5to7_SRMF.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Futureman/Face/Baked/T_Head_LOD1_SRMF.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Futureman/Face/Baked/T_Head_LOD5to7_SRMF.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Futureman/Outfit/MH_Futureman_Outfit.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Highlander/Face/Baked/T_Head_LOD1_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Highlander/Face/Baked/T_Head_LOD1_SRMF.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Highlander/Face/Baked/T_Head_LOD3_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Highlander/Face/Baked/T_Head_LOD3_SRMF.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Highlander/Face/Baked/T_Head_LOD5to7_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Highlander/Face/Baked/T_Head_LOD5to7_SRMF.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Hippie/Face/Baked/T_Head_LOD1_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Hippie/Face/Baked/T_Head_LOD1_SRMF.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Hippie/Face/Baked/T_Head_LOD5to7_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Hippie/Face/Baked/T_Head_LOD5to7_SRMF.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Hippie/Grooms/Hair_M_Layered.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Knight/Face/Baked/T_Head_LOD1_SRMF.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Knight/Face/Baked/T_Head_LOD5to7_SRMF.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Native/Face/Baked/T_Head_LOD1_SRMF.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Native/Face/Baked/T_Head_LOD3_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Native/Face/Baked/T_Head_LOD3_SRMF.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Native/Face/Baked/T_Head_LOD5to7_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Native/Face/Baked/T_Head_LOD5to7_SRMF.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Roman/Face/Baked/T_Head_LOD1_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Roman/Face/Baked/T_Head_LOD1_SRMF.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Roman/Face/Baked/T_Head_LOD2_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Roman/Face/Baked/T_Head_LOD2_SRMF.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Roman/Face/Baked/T_Head_LOD3_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Roman/Face/Baked/T_Head_LOD3_SRMF.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Roman/Face/Baked/T_Head_LOD5to7_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Roman/Face/Baked/T_Head_LOD5to7_SRMF.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Roman/Face/Baked/T_Head_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MHC_Roman/Face/Baked/T_Head_SRMF.uasset filter=lfs diff=lfs merge=lfs -text
