*.uasset filter=lfs diff=lfs merge=lfs -text
*.umap filter=lfs diff=lfs merge=lfs -text
*.udk filter=lfs diff=lfs merge=lfs -text

# Raw Content
*.fbx filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.xcf filter=lfs diff=lfs merge=lfs -text
*.idea filter=lfs diff=lfs merge=lfs -text
*._Config filter=lfs diff=lfs merge=lfs -text
*._Content filter=lfs diff=lfs merge=lfs -text
*._DerivedDataCache filter=lfs diff=lfs merge=lfs -text
*.uproject filter=lfs diff=lfs merge=lfs -text
*._Intermediate filter=lfs diff=lfs merge=lfs -text
*._Platforms filter=lfs diff=lfs merge=lfs -text
*._Saved filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.ini filter=lfs diff=lfs merge=lfs -text
*._Assets filter=lfs diff=lfs merge=lfs -text
*._Collections filter=lfs diff=lfs merge=lfs -text
*._Developers filter=lfs diff=lfs merge=lfs -text
*._Maps filter=lfs diff=lfs merge=lfs -text
*._Characters filter=lfs diff=lfs merge=lfs -text
*._Dungeon filter=lfs diff=lfs merge=lfs -text
*._Effects filter=lfs diff=lfs merge=lfs -text
*._Enemies filter=lfs diff=lfs merge=lfs -text
*._Fonts filter=lfs diff=lfs merge=lfs -text
*._MagicCircles filter=lfs diff=lfs merge=lfs -text
*._Materials filter=lfs diff=lfs merge=lfs -text
*._Pickups filter=lfs diff=lfs merge=lfs -text
*._Sounds filter=lfs diff=lfs merge=lfs -text
*._Spells filter=lfs diff=lfs merge=lfs -text
*._UI filter=lfs diff=lfs merge=lfs -text
*._Aura filter=lfs diff=lfs merge=lfs -text
*._Animations filter=lfs diff=lfs merge=lfs -text
*._Staff filter=lfs diff=lfs merge=lfs -text
*._Abilities filter=lfs diff=lfs merge=lfs -text
*._Beacon filter=lfs diff=lfs merge=lfs -text
*._Checkpoint filter=lfs diff=lfs merge=lfs -text
*._Material filter=lfs diff=lfs merge=lfs -text
*._CornerSmall filter=lfs diff=lfs merge=lfs -text
*._Stairs filter=lfs diff=lfs merge=lfs -text
*._Tileset1 filter=lfs diff=lfs merge=lfs -text
*._Tileset1x1 filter=lfs diff=lfs merge=lfs -text
*._Tileset2 filter=lfs diff=lfs merge=lfs -text
*._Tileset3 filter=lfs diff=lfs merge=lfs -text
*._TilesetCorner filter=lfs diff=lfs merge=lfs -text
*._TilesetCornerInner filter=lfs diff=lfs merge=lfs -text
*._TilesetCorner_fixedlighting filter=lfs diff=lfs merge=lfs -text
*._TilesetCorner_splotches filter=lfs diff=lfs merge=lfs -text
*._TilesetEdge filter=lfs diff=lfs merge=lfs -text
*._Tilese1x1_2 filter=lfs diff=lfs merge=lfs -text
*._Tileset1x1_1 filter=lfs diff=lfs merge=lfs -text
*._ArcaneShards filter=lfs diff=lfs merge=lfs -text
*._Combat filter=lfs diff=lfs merge=lfs -text
*._Cursor filter=lfs diff=lfs merge=lfs -text
*._Fire filter=lfs diff=lfs merge=lfs -text
*._Firenado filter=lfs diff=lfs merge=lfs -text
*._LevelUp filter=lfs diff=lfs merge=lfs -text
*._ManaDrain filter=lfs diff=lfs merge=lfs -text
*._Projectiles filter=lfs diff=lfs merge=lfs -text
*._Shared filter=lfs diff=lfs merge=lfs -text
*._Shock filter=lfs diff=lfs merge=lfs -text
*._Soul filter=lfs diff=lfs merge=lfs -text
*._Stun filter=lfs diff=lfs merge=lfs -text
*._Trail filter=lfs diff=lfs merge=lfs -text
*._FireBolt filter=lfs diff=lfs merge=lfs -text
*._FireExplosion filter=lfs diff=lfs merge=lfs -text
*._Textures filter=lfs diff=lfs merge=lfs -text
*._Demon filter=lfs diff=lfs merge=lfs -text
*._Ghoul filter=lfs diff=lfs merge=lfs -text
*._Goblin filter=lfs diff=lfs merge=lfs -text
*._Shaman filter=lfs diff=lfs merge=lfs -text
*._Shroom filter=lfs diff=lfs merge=lfs -text
*._Materials_Dark filter=lfs diff=lfs merge=lfs -text
*._Materials_Red filter=lfs diff=lfs merge=lfs -text
*._DemonRed filter=lfs diff=lfs merge=lfs -text
*._Slingshot filter=lfs diff=lfs merge=lfs -text
*._Spear filter=lfs diff=lfs merge=lfs -text
*._Centered filter=lfs diff=lfs merge=lfs -text
*._Green filter=lfs diff=lfs merge=lfs -text
*._Red filter=lfs diff=lfs merge=lfs -text
*._SlingshotRock filter=lfs diff=lfs merge=lfs -text
*._ShamanStaff filter=lfs diff=lfs merge=lfs -text
*._Mesh filter=lfs diff=lfs merge=lfs -text
*._Amarante filter=lfs diff=lfs merge=lfs -text
*._David_Libre filter=lfs diff=lfs merge=lfs -text
*._Inkut filter=lfs diff=lfs merge=lfs -text
*._Nanum_Brush filter=lfs diff=lfs merge=lfs -text
*._Pirata_One filter=lfs diff=lfs merge=lfs -text
*._FootSteps filter=lfs diff=lfs merge=lfs -text
*._Music filter=lfs diff=lfs merge=lfs -text
*._Potions filter=lfs diff=lfs merge=lfs -text
*._FireNado filter=lfs diff=lfs merge=lfs -text
*._ThunderStrike filter=lfs diff=lfs merge=lfs -text
*._wav filter=lfs diff=lfs merge=lfs -text
*._Hiss filter=lfs diff=lfs merge=lfs -text
*._Impact filter=lfs diff=lfs merge=lfs -text
*._Shoot filter=lfs diff=lfs merge=lfs -text
*._Death filter=lfs diff=lfs merge=lfs -text
*._Hurt filter=lfs diff=lfs merge=lfs -text
*._Attack filter=lfs diff=lfs merge=lfs -text
*._Growl filter=lfs diff=lfs merge=lfs -text
*._Swipe filter=lfs diff=lfs merge=lfs -text
*._RockHit filter=lfs diff=lfs merge=lfs -text
*._Swoosh filter=lfs diff=lfs merge=lfs -text
*._Consume filter=lfs diff=lfs merge=lfs -text
*._HitGround filter=lfs diff=lfs merge=lfs -text
*._Spawn filter=lfs diff=lfs merge=lfs -text
*._ButtonClick filter=lfs diff=lfs merge=lfs -text
*._Cancel filter=lfs diff=lfs merge=lfs -text
*._Hover filter=lfs diff=lfs merge=lfs -text
*._Unlock_Skills filter=lfs diff=lfs merge=lfs -text
*._Shards filter=lfs diff=lfs merge=lfs -text
*._Borders filter=lfs diff=lfs merge=lfs -text
*._Button_Red filter=lfs diff=lfs merge=lfs -text
*._CooldownBar filter=lfs diff=lfs merge=lfs -text
*._Globes filter=lfs diff=lfs merge=lfs -text
*._HealthBar filter=lfs diff=lfs merge=lfs -text
*._HealthMana filter=lfs diff=lfs merge=lfs -text
*._LoadScreen filter=lfs diff=lfs merge=lfs -text
*._ManaBar filter=lfs diff=lfs merge=lfs -text
*._Overlay filter=lfs diff=lfs merge=lfs -text
*._Rings filter=lfs diff=lfs merge=lfs -text
*._SpellTree filter=lfs diff=lfs merge=lfs -text
*._Wide_Button_Red filter=lfs diff=lfs merge=lfs -text
*._XPBar filter=lfs diff=lfs merge=lfs -text
*._BorderLarge filter=lfs diff=lfs merge=lfs -text
*._BorderLarge_BG filter=lfs diff=lfs merge=lfs -text
*._Border_1 filter=lfs diff=lfs merge=lfs -text
*._MediumEnemy filter=lfs diff=lfs merge=lfs -text
*._Player filter=lfs diff=lfs merge=lfs -text
*._GlobeRing filter=lfs diff=lfs merge=lfs -text
*._SkillRing filter=lfs diff=lfs merge=lfs -text
*._SkillRingGlow filter=lfs diff=lfs merge=lfs -text
*._Druid filter=lfs diff=lfs merge=lfs -text
*._timpoliquin filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.user filter=lfs diff=lfs merge=lfs -text
*.FBX filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.blend1 filter=lfs diff=lfs merge=lfs -text
*.PNG filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*._HoloLens filter=lfs diff=lfs merge=lfs -text
*.cs filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
/Import/Models/Rogue_Character_Model-15e2afd1/fbx/metadata filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.gltf filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
